/* Widths */
.pgn-row-24 > .pgn-col-1 {
	width: calc(1 * 100% / 24);
}
.pgn-row-24 > .pgn-col-2 {
	width: calc(2 * 100% / 24);
}
.pgn-row-24 > .pgn-col-3 {
	width: calc(3 * 100% / 24);
}
.pgn-row-24 > .pgn-col-4 {
	width: calc(4 * 100% / 24);
}
.pgn-row-24 > .pgn-col-5 {
	width: calc(5 * 100% / 24);
}
.pgn-row-24 > .pgn-col-6 {
	width: calc(6 * 100% / 24);
}
.pgn-row-24 > .pgn-col-7 {
	width: calc(7 * 100% / 24);
}
.pgn-row-24 > .pgn-col-8 {
	width: calc(8 * 100% / 24);
}
.pgn-row-24 > .pgn-col-9 {
	width: calc(9 * 100% / 24);
}
.pgn-row-24 > .pgn-col-10 {
	width: calc(10 * 100% / 24);
}
.pgn-row-24 > .pgn-col-11 {
	width: calc(11 * 100% / 24);
}
.pgn-row-24 > .pgn-col-12 {
	width: calc(12 * 100% / 24);
}
.pgn-row-24 > .pgn-col-13 {
	width: calc(13 * 100% / 24);
}
.pgn-row-24 > .pgn-col-14 {
	width: calc(14 * 100% / 24);
}
.pgn-row-24 > .pgn-col-15 {
	width: calc(15 * 100% / 24);
}
.pgn-row-24 > .pgn-col-16 {
	width: calc(16 * 100% / 24);
}
.pgn-row-24 > .pgn-col-17 {
	width: calc(17 * 100% / 24);
}
.pgn-row-24 > .pgn-col-18 {
	width: calc(18 * 100% / 24);
}
.pgn-row-24 > .pgn-col-19 {
	width: calc(19 * 100% / 24);
}
.pgn-row-24 > .pgn-col-20 {
	width: calc(20 * 100% / 24);
}
.pgn-row-24 > .pgn-col-21 {
	width: calc(21 * 100% / 24);
}
.pgn-row-24 > .pgn-col-22 {
	width: calc(22 * 100% / 24);
}
.pgn-row-24 > .pgn-col-23 {
	width: calc(23 * 100% / 24);
}
.pgn-row-24 > .pgn-col-24 {
	width: 100%;
}

/* Mobile */
@media only screen and (max-width: 767px) {
	/* Quadruple desktop widths */
	.pgn-doubling .pgn-row-24 > [class*="pgn-col-"],
	.pgn-doubling.pgn-row-24 > [class*="pgn-col-"] {
		width: 100%;
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-1,
	.pgn-doubling.pgn-row-24 > .pgn-col-1 {
		width: calc(4 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-2,
	.pgn-doubling.pgn-row-24 > .pgn-col-2 {
		width: calc(8 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-3,
	.pgn-doubling.pgn-row-24 > .pgn-col-3 {
		width: calc(12 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-4,
	.pgn-doubling.pgn-row-24 > .pgn-col-4 {
		width: calc(16 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-5,
	.pgn-doubling.pgn-row-24 > .pgn-col-5 {
		width: calc(20 * 100% / 24);
	}
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* Double desktop widths */
	.pgn-doubling .pgn-row-24 > [class*="pgn-col-"],
	.pgn-doubling.pgn-row-24 > [class*="pgn-col-"] {
		width: 100%;
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-1,
	.pgn-doubling.pgn-row-24 > .pgn-col-1 {
		width: calc(2 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-2,
	.pgn-doubling.pgn-row-24 > .pgn-col-2 {
		width: calc(4 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-3,
	.pgn-doubling.pgn-row-24 > .pgn-col-3 {
		width: calc(6 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-4,
	.pgn-doubling.pgn-row-24 > .pgn-col-4 {
		width: calc(8 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-5,
	.pgn-doubling.pgn-row-24 > .pgn-col-5 {
		width: calc(10 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-6,
	.pgn-doubling.pgn-row-24 > .pgn-col-6 {
		width: calc(12 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-7,
	.pgn-doubling.pgn-row-24 > .pgn-col-7 {
		width: calc(14 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-8,
	.pgn-doubling.pgn-row-24 > .pgn-col-8 {
		width: calc(16 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-9,
	.pgn-doubling.pgn-row-24 > .pgn-col-9 {
		width: calc(18 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-10,
	.pgn-doubling.pgn-row-24 > .pgn-col-10 {
		width: calc(20 * 100% / 24);
	}
	.pgn-doubling .pgn-row-24 > .pgn-col-11,
	.pgn-doubling.pgn-row-24 > .pgn-col-11 {
		width: calc(22 * 100% / 24);
	}
}
