@import "_lib.scss";

/* Layout 3: header, main (expands), footer */
body.pgn-l-3 {
	display: flex;
	flex-direction: column;
}
.pgn-l-3 .pgn-stretch {
	flex: 1;
}

.pgn-container {
	display: block;
	max-width: 100%;
	width: auto;
	/* FIXME: Should depend on relaxed/spaced/seamless parent instead? */
	margin-left: $padding-spaced;
	margin-right: $padding-spaced;
}

.pgn-block {
	display: block;
	width: 100%;
}

@include media-mobile-only {
	.pgn-tablet-up,
	.pgn-tablet-only,
	.pgn-desktop-only {
		display: none;
	}
}

@include media-tablet-only {
	.pgn-mobile-only,
	.pgn-desktop-only {
		display: none;
	}
}

@include media-desktop-only {
	.pgn-mobile-only,
	.pgn-tablet-only,
	.pgn-tablet-down {
		display: none;
	}
}

@include media-desktop-large {
	.pgn-container {
		width: 1127px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Print (we generalize non-screen labeling as "print") */
@media only screen {
	.pgn-print-only {
		display: none;
	}
}
@media not screen {
	.pgn-screen-only {
		display: none;
	}
}

.pgn-density-relaxed td {
	padding: calc($padding-relaxed / 2) $padding-relaxed;
}
.pgn-density-spaced td {
	padding: calc($padding-spaced / 2) $padding-spaced;
}
.pgn-density-seamless td {
	padding: $padding-seamless;
}
